body{
   display: flex;
   justify-content: center;
    margin: 50px;
    padding: 50px;
}

div{
  background-color: #f8f4f4;
  text-align: center;
width: 500px;
height: 250px;
padding-top: 20px;
border-radius: 70px;
}

input{
  width: 300px;
  height: 40px;
  border-radius: 7px;
  
}

button{
    background-color: blue;
    border-color: blue;
    border-radius: 7px;
    color: white;
    width: 90px;
    height:35px;
    font-size: 15px;
}
button b:hover{
color: red;
   
}


